<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %>
    <body>
      <div class="grid-container">
  
        <!-- Header -->
        <%- include("./partials/header") %>
        <!-- End Header -->
  
        <!-- Sidebar -->
        <%- include("./partials/aside") %>
        <!-- End Sidebar -->
      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
            <h2>Edit Modules</h2>
        </div>
        <div class="form-board">
            <!-- Left form-card: form Creation Form -->
            <div class="form-card">
              <div class="form-card-inner">
            <form action="/modules/edit-modules" method="post">
                <div class="form-group">
                    <label>Module ID:</label>
                    <input type="text" class="form-control" name="modules_id" value="<%= modules_id %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Module Name:</label>
                    <input type="text" class="form-control" name="modules_name" value="<%= modules_name %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <label>Lecturer ID:</label>
                    <input type="text" class="form-control" name="lecturers_id" value="<%= lecturers_id %>" autocomplete="off">
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-info" value="Update"/>
                </div>
            </form>
        </div>
            </div>
            <!-- Right form-card: Additional Information -->
            <div class="form-card" id="right-form-card">
                <div class="form-card-inner">
                  <h3>Module Guidelines</h3>
                          <ul>
                              <li>Provide a unique module ID.</li>
                              <li>Enter the module name.</li>
                              <li>Specify the class ID.</li>
                              <li>Enter the semester.</li>
                              <li>Provide the lecturer ID.</li>
                          </ul>
                </div>
              </div>
    </div>
      </main>
      </div>
</body>
</html>
