<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <%- include("./partials/header") %>
      <!-- End Header -->

      <!-- Sidebar -->
      <%- include("./partials/aside") %>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>Programs</h2>
          <a href="programs/add-programs" class="button">Add Program</a>
          <a href="/programs/export-programs-csv" class="button">Export CSV</a>
        </div>
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Program ID</td>
                        <td>Program Name</td>
                        <td>Department ID</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach(function(row) { %>
                        <tr>
                            <td><%= row.programs_id %></td>
                            <td><%= row.programs_name %></td>
                            <td><%= row.departments_id %></td>
                            <td>
                                <a href="/programs/edit-programs/<%= row.programs_id %>" class="edit">Edit</a>
                                <a href="/programs/delete-programs/<%= row.programs_id %>" class="delete">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
      </main>
      <!-- End Main -->
    </div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
