<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head") %>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <%- include("./partials/header") %>
      <!-- End Header -->

      <!-- Sidebar -->
      <%- include("./partials/aside") %>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
        <div class="main-title">
          <h2>Students</h2>
          <a href="students/add-students" class="button">Add Student</a>
          <a href="/students/export-students-csv" class="button">Export CSV</a>
        </div>
        <div class="board">
            <table width="100%">
                <thead>
                    <tr>
                        <td>Student ID</td>
                        <td>First Name</td>
                        <td>Last Name</td>
                        <td>Gender</td>
                        <td>Program ID</td>
                        <td>Enrollment Year</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <% rows.forEach(function(row) { %>
                        <tr>
                            <td><%= row.students_id %></td>
                            <td><%= row.first_name %></td>
                            <td><%= row.last_name %></td>
                            <td><%= row.gender %></td>
                            <td><%= row.programs_id %></td>
                            <td><%= row.enrollment_year %></td>
                            
                            <td>
                                <a href="/students/edit-students/<%= row.students_id %>" class="edit">Edit</a>
                                <a href="/students/delete-students/<%= row.students_id %>" class="delete">Delete</a>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
      </main>
      <!-- End Main -->
    </div>
    <script src="/js/scripts.js"></script>
  </body>
</html>
